appdirs==1.4.0
bcbio-gff==0.6.2
beautifulsoup4==4.5.1
biopython==1.67
bioservices==1.4.14
colorama==0.3.7
easydev==0.9.27
gevent==1.1.2
greenlet==0.4.10
grequests==0.3.0
pexpect==4.2.1
ptyprocess==0.5.1
py2neo==3.1.1
requests==2.11.1
requests-cache==0.4.12
six==1.10.0
suds-jurko==0.6
tqdm==4.8.4
wrapt==1.10.8
xmltodict==0.10.2
