bioblend==0.8.0
boto==2.42.0
click==6.6
Flask==0.10.1
Flask-Login==0.4.0
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
numpy==1.11.0
pandas==0.18.1
patsy==0.4.1
py2neo==3.1.2
python-dateutil==2.5.3
pytz==2015.7
PyYAML==3.11
requests==2.11.0
requests-toolbelt==0.7.0
scipy==0.17.1
six==1.10.0
statsmodels==0.6.1
Werkzeug==0.11.4
WTForms==2.1
