{% extends "base.html" %}

{% block content %}
    <div class="section">
        <div class="row">
            <div class="col s12">
                <h1 class="header center-on-small-only">About</h1>
                <div class="divider"></div>
                <br>
                <h4 class="flow-text">COMBAT-TB is a Medical Research Council (MRC) flagship project which aims
                    to address two needs: </h4>
                <div class="section">
                    <h2 class="flow-text"><i>Access to computer tools for rapid deployment in a resource limited
                        laboratory, and </i></h2>
                    <h2 class="flow-text"><i>Access to an integrated environment that would allow researchers to
                        interrogate in-house data.</i></h2>
                </div>
            </div>
        </div>
    </div>
    {#        <div class="row">#}
    {#            <div class="col s4 m4">#}
    {#                <div class="card">#}
    {#                    <div class="card-image">#}
    {#                        <img src="{{ url_for('static', filename='img/sanbi_logo.png') }}">#}
    {#                        <span class="card-title">Card Title</span>#}
    {#                    </div>#}
    {#                    <div class="card-content">#}
    {#                        <p>I am a very simple card. I am good at containing small bits of information.#}
    {#                            I am convenient because I require little markup to use effectively.</p>#}
    {#                    </div>#}
    {#                    <div class="card-action">#}
    {#                        <a href="#">This is a link</a>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="col s4 m4">#}
    {#                <div class="card">#}
    {#                    <div class="card-image">#}
    {#                        <img src="{{ url_for('static', filename='img/newmrcbanner.png') }}">#}
    {#                        <span class="card-title">Card Title</span>#}
    {#                    </div>#}
    {#                    <div class="card-content">#}
    {#                        <p>I am a very simple card. I am good at containing small bits of information.#}
    {#                            I am convenient because I require little markup to use effectively.</p>#}
    {#                    </div>#}
    {#                    <div class="card-action">#}
    {#                        <a href="#">This is a link</a>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="col s4 m4">#}
    {#                <div class="card">#}
    {#                    <div class="card-image">#}
    {#                        <img src="{{ url_for('static', filename='img/uwc_trans_logo_.gif') }}">#}
    {#                        <span class="card-title">Card Title</span>#}
    {#                    </div>#}
    {#                    <div class="card-content">#}
    {#                        <p>I am a very simple card. I am good at containing small bits of information.#}
    {#                            I am convenient because I require little markup to use effectively.</p>#}
    {#                    </div>#}
    {#                    <div class="card-action">#}
    {#                        <a href="#">This is a link</a>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
{% endblock %}