{% extends "base.html" %}

{% block banner %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            {#            <img class="materialboxed" width="650" src="{{ url_for('static', filename='img/mtb.jpg') }}">#}
            {#            <div class="slider">#}
            {#                <ul class="slides">#}
            {#                    <li>#}
            {#                        <img src="{{ url_for('static', filename='img/mtb.jpg') }}"> <!-- random image -->#}
            {#                        <div class="caption center-align">#}
            {#                            <h2><b>Com</b>prehensive#}
            {#                                <b>B</b>acterial <b>A</b>nalytical <b>T</b>oolKit for Tuberculosis (<b>TB</b>) Research#}
            {#                            </h2>#}
            {#                            <h5 class="light grey-text text-lighten-3">An integrated knowledge management system that#}
            {#                                allows users to interrogate data across domains in the context of tuberculosis#}
            {#                                research.</h5>#}
            {#                        </div>#}
            {#                    </li>#}
            {#                    <li>#}
            {#                        <img src="{{ url_for('static', filename='img/mtb.jpg') }}"> <!-- random image -->#}
            {#                        <div class="caption left-align">#}
            {#                            <h3>Access to an integrated environment that would allow researchers to interrogate in-house data.</h3>#}
            {#                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>#}
            {#                        </div>#}
            {#                    </li>#}
            {#                    <li>#}
            {#                        <img src="{{ url_for('static', filename='img/mtb.jpg') }}"> <!-- random image -->#}
            {#                        <div class="caption left-align">#}
            {#                            <h3>Access to computer tools for rapid deployment in a resource limited laboratory.</h3>#}
            {#                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>#}
            {#                        </div>#}
            {#                    </li>#}
            {#                    <li>#}
            {#                        <img src="{{ url_for('static', filename='img/mtb.jpg') }}"> <!-- random image -->#}
            {#                        <div class="caption center-align">#}
            {#                            <h3>This is our big Tagline!</h3>#}
            {#                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>#}
            {#                        </div>#}
            {#                    </li>#}
            {#                </ul>#}
            {#            </div>#}
            <h2 class="header center  light-blue-text text-darken-4"><b>Com</b>prehensive <b>B</b>acterial <b>A</b>nalytical
                <b>T</b>oolKit
                for Tuberculosis (<b>TB</b>) Research</h2>
            <div class="row center">
                <h6 class="header col s12">An integrated knowledge management system that allows users to
                    interrogate data across domains in the context of tuberculosis research</h6>
            </div>
            <br>
            <div class="row center">
                <a href="/about" id="learn-more"
                   class="btn-large waves-effect waves-light light-blue darken-4">Learn more</a>
            </div>
            <br>
            <div class="row center">
                <div class="section col s6 offset-s3">
                    {#                    <div class="divider"></div>#}
                    {#                    <br><br>#}
                    <div id="preloader" class="progress blue lighten-4">
                        <div class="indeterminate blue darken-2"></div>
                    </div>
                    <br>
                    {#                    <p>Enter name, Rv number or UniProt ID</p>#}
                    <div class="divider"></div>
                    <br><br>
                    <form class="tooltipped" role="form" method='POST' action='/search' data-position="bottom"
                          data-delay="50" data-tooltip="Search for gene. E.g. Rv0009, clpC1 or P9WGE7">
                        {{ form.hidden_tag() }}
                        <div class="input-field">
                            <input id="search" name="gene" type="search" placeholder="Search for gene..." required>
                            <label for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                    <br>
                    <p class="tooltipped z-depth-3 red white-text" data-position="bottom"
                       data-delay="50" data-tooltip="In Active Development... and tested on Firefox">
                        <i class="small material-icons">warning</i><br>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

