{% extends "base.html" %}

{% block banner %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h2 class="header center orange-text"><b>Com</b>prehensive <b>B</b>acterial <b>A</b>nalytical <b>T</b>oolKit
                for Tuberculosis (<b>TB</b>) Research</h2>
            {#        <div class="row center">#}
            {#            <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>#}
            {#        </div>#}
            <div class="row center">
                <a href="/" id="download-button"
                   class="btn-large waves-effect waves-light orange">Learn more</a>
            </div>
            <br><br>

        </div>
    </div>
{% endblock %}
